@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.form__container {
  // background-color: rgb(196, 225, 250);
  background: radial-gradient(
    circle,
    rgba(255, 179, 179, 1) 0%,
    rgba(166, 180, 255, 1) 100%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__wrapper {
  position: relative;
  background-color: white;
  padding: 24px 60px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  .title {
    font-weight: bold;
    font-size: 18px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    label {
      font-size: 14px;
    }
    input {
      width: 100%;
      padding: 8px;
      border-radius: 4px;
      border: 1px solid #d8dadc;
    }
    #avatar {
      display: flex;
      align-items: center;
      width: 150px;
      cursor: pointer;
    }
    #file {
      display: none;
    }
  }
  .logo {
    color: rgb(207, 66, 190);
    font-weight: bold;
    font-size: 24px;
  }
}

// Register / Login buttons
.signup__btn,
.login__btn {
  color: black;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(196, 225, 250);
  border: 1px solid rgb(196, 225, 250);
}
.signup__btn:hover,
.login__btn:hover {
  cursor: pointer;
}

// Avatar upload image
#avatar__img {
  width: 40px;
  margin-right: 20px;
}

// registering with google etc div
.alt__register--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .alt__register--text {
    margin: 8px;
  }
  .left__line {
    width: 90px;
    border: 1px solid #d8dadc;
  }
  .right__line {
    width: 90px;
    border: 1px solid #d8dadc;
  }
}

.alt__register--text,
#login__text {
  font-size: 14px;
}

.home {
  // background-color: rgb(196, 225, 250);
  background: radial-gradient(
    circle,
    rgba(255, 179, 179, 1) 0%,
    rgba(166, 180, 255, 1) 100%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    max-width: 1280px;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    display: flex;
    overflow: hidden;
    .sidebar {
      background-color: rgb(196, 225, 250);
      flex: 1;
      height: 100%;
      padding: 14px;
      .nav__container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 14px 0;
        margin-bottom: 16px;
        border-bottom: 1px solid white;
        .logo {
          font-weight: bold;
        }
        .user {
          display: flex;
          gap: 10px;
          align-items: center;
          img {
            background-color: white;
            width: 20px;
            height: 20px;
            border: 1px solid white;
            border-radius: 50%;
            object-fit: cover;
          }
          .logout__btn {
            border: none;
            background-color: rgb(196, 225, 250);
            display: flex;
            align-items: center;
          }
          .logout__btn:hover {
            cursor: pointer;
          }
          .logout__icon {
            font-size: 16px;
          }
        }
      }
      .search {
        .search__bar {
          input {
            width: 100%;
            border: 1px solid white;
            border-radius: 20px;
            padding: 8px;
            margin-bottom: 16px;
          }
          input:focus-visible {
            outline-color: white;
          }
        }
        .user__chat {
          display: flex;
          align-items: center;
          margin: 12px 0;
          gap: 10px;
          cursor: pointer;
          transition: all 300ms ease;
          border: 1px solid white;

          &:hover,
          &:active {
            background-color: #1d75dd;
            transition: all 300ms ease;
          }

          .userPic {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }
      .side__chats {
        background-color: white;
        border: 1px solid white;
        border-radius: 10px;
        .user__chat {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          transition: all 300ms ease;
          border-bottom: 2px solid rgb(196, 225, 250);

          &:hover,
          &:active {
            background-color: #1d75dd;
            transition: all 300ms ease;
          }
          &:first-child {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }

          &:last-child {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border: none;
          }
          .userPic {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            padding: 4px;
          }
          .user__chat--info {
            span {
              font-size: 14px;
              font-weight: 500;
            }
            p {
              font-size: 12px;
              color: rgb(59, 59, 59);
            }
          }
        }
      }
    }
    .chat__info {
      background-color: rgb(196, 225, 250);
      flex: 2;
      border-left: 1px solid white;
      padding: 14px;
      .chat {
        display: flex;
        justify-content: space-between;
        padding: 14px;
        border-bottom: 1px solid white;
        margin-bottom: 16px;
        .chat__icons {
          display: flex;
          align-items: center;
          .chat__icon {
            margin-right: 16px;
            font-size: 16px;
            &:last-child {
              margin: 0;
            }
          }
        }
      }
      .messages {
        background-color: white;
        border-radius: 10px;
        padding: 14px;
        margin-bottom: 16px;
        height: calc(100% - 140px);
      }
      .message__input {
        display: flex;
        align-items: center;
        gap: 20px;
        .fileIcon {
          font-size: 30px;
        }
        .message__inputBar {
          background-color: white;
          width: 100%;
          height: 40px;
          border: 1px solid #989ba1;
          padding: 8px;
          border-radius: 3px;
          &:focus {
            outline: white;
          }
        }
        .message__send {
          display: flex;
          align-items: center;
          .send__icons {
            font-size: 24px;
          }
          #file {
            display: none;
          }
          label {
            display: flex;
            align-items: center;
          }
          .send__messageBtn {
            background-color: rgb(196, 225, 250);
            border: none;
          }
          .file__img,
          label {
            margin-right: 20px;
          }
        }
      }
    }
  }
}
